@media only screen and (max-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* 阻止页面出现滚动条 */
    width: 100%;
    height: 100%;
    background-image: url("https://pic.imgdb.cn/item/66bdf6a4d9c307b7e98ef350.jpg"); 
    background-size: cover; /* 图片覆盖整个容器 */
  }

  #canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute; /* 使用绝对定位让canvas覆盖在背景图片上 */
    top: 0;
    left: 0;
    z-index: 1; /* 确保canvas在最上层 */
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 使内容从顶部开始排列 */
    align-items: center;
    height: 100%;
    padding-top: 20%; /* 调整顶部间距，使内容从顶部向下开始 */
    position: relative;
    z-index: 2;
  }

  .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: 2.4vw; /* 使用相对单位调整字体大小 */
    color: #ffe5b4;
    text-align: center;
    -webkit-animation: ani 5s ease-in-out infinite;
    animation: ani 5s ease-in-out infinite;
    margin: 20px 0; /* 统一的上下间距 */
    font-weight: bolder;
  }

  /* 动画效果 */
  @keyframes ani {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); /* 减小scale幅度，使动画更平滑 */
    }
    100% {
      transform: scale(1);
    }
  }
}

