@media only screen and (max-width: 768px) {

  html,
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* 阻止页面出现滚动条 */
    width: 100%;
    height: 100%;
    background-image: url("https://pic.imgdb.cn/item/66bdf6a4d9c307b7e98ef350.jpg");
    background-size: cover;
    /* 图片覆盖整个容器 */
  }

  #canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    /* 使用绝对定位让canvas覆盖在背景图片上 */
    top: 0;
    left: 0;
    z-index: 1;/* 确保canvas在最上层 */
  }

/* 
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   使内容从顶部开始排列 
    align-items: center;
    height: 100%;
    padding-top: 20%;  
    position: relative;
    z-index: 2;
  } */

  .text1 {
    position:relative;
    top:8%;
    font-size: 2.8vw;/* 使用相对单位调整字体大小 */
    color: whitesmoke;
    text-align: center;
    -webkit-animation: ani 5s ease-in-out infinite;
    animation: ani 5s ease-in-out infinite;
    font-weight: 500;
  }

  .text2 {
    position:relative;
    top:11%;
    font-size: 2.8vw;/* 使用相对单位调整字体大小 */
    color: whitesmoke;
    text-align: center;
    -webkit-animation: ani 5s ease-in-out infinite;
    animation: ani 5s ease-in-out infinite;
    font-weight: 500;
  }

  .text3 {
    position:relative;
    top:14%;
    font-size: 2.8vw;/* 使用相对单位调整字体大小 */
    color: whitesmoke;
    text-align: center;
    -webkit-animation: ani 5s ease-in-out infinite;
    animation: ani 5s ease-in-out infinite;
    font-weight: 500;
  }

  .text4 {
    position:relative;
    top:47%;
    font-size: 2.8vw;
    color: white;
    text-align: center;
    -webkit-animation: ani 5s ease-in-out infinite;
    animation: ani 5s ease-in-out infinite;
    font-weight: 500;
  }

  #text7 {
    display: block;/* 设置为块级元素，使其自动换行 */
  }

  .text5 {
    position:relative;
    top: 50%; 
    font-size: 2.8vw;
    color: white;
    text-align: center;
    -webkit-animation: ani 5s ease-in-out infinite;
    animation: ani 5s ease-in-out infinite;
    font-weight: 500;
}

.text6 {
    position:relative;
    top: 53%;
    font-size: 2.8vw;
    color: white;
    text-align: center;
    -webkit-animation: ani 5s ease-in-out infinite;
    animation: ani 5s ease-in-out infinite;
    font-weight: 500;
}
  /* 动画效果 */
  @keyframes ani {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
      /* 减小scale幅度，使动画更平滑 */
    }

    100% {
      transform: scale(1);
    }
  }

   .particle {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
    pointer-events: none;
    animation: explode 1s ease-out forwards;
}

/* 烟花粒子动画 */
@keyframes explode {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(var(--x), var(--y)) scale(0.5);
    }
}

}
