@media only screen and (min-width:769px) {
    html, body {
        overflow: hidden;
        height: 100%;
    }
    .background-layer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://pic.imgdb.cn/item/67051414d29ded1a8c92615b.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: -1;/* 让背景层位于其他内容之下 */
        overflow-y: scroll; /* 背景层允许滚动，但不显示滚动条 */
    }


    #canvas {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        /* 使用绝对定位让canvas覆盖在背景图片上 */
        top: 0;
        left: 0;
        z-index: 1;
        /* 确保canvas在最上层 */
    }

    .text1 {
        font-size: 20px;
        color: blanchedalmond;
        text-align: center;
        position: relative;
        top: 40px;
        -webkit-animation: ani 4s ease-in-out infinite;
        animation: ani 4s ease-in-out infinite;
    }

    .text2 {
        font-size: 20px;
        color: blanchedalmond;
        text-align: center;
        position: relative;
        top: 80px;
        -webkit-animation: ani 4s ease-in-out infinite;
        animation: ani 4s ease-in-out infinite;
    }

    .text3 {
        font-size: 20px;
        color: blanchedalmond;
        text-align: center;
        position: relative;
        top: 120px;
        -webkit-animation: ani 4s ease-in-out infinite;
        animation: ani 4s ease-in-out infinite;
    }

    .text4 {
        font-size: 20px;
        color: blanchedalmond;
        text-align: center;
        position: relative;
        top: 160px;
        -webkit-animation: ani 4s ease-in-out infinite;
        animation: ani 4s ease-in-out infinite;
    }

    .text5 {
        font-size: 20px;
        color: blanchedalmond;
        text-align: center;
        position: relative;
        top: 200px;
        -webkit-animation: ani 4s ease-in-out infinite;
        animation: ani 4s ease-in-out infinite;
    }

    .text6 {
        font-size: 20px;
        color: blanchedalmond;
        text-align: center;
        position: relative;
        top: 240px;
        -webkit-animation: ani 4s ease-in-out infinite;
        animation: ani 4s ease-in-out infinite;
    }

    /*过渡动画*/
    @keyframes ani {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.11);
        }

        100% {
            transform: scale(1);
        }
    }


    .particle {
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: white;
        pointer-events: none;
        animation: explode 1s ease-out forwards;
    }

    /* 烟花粒子动画 */
    @keyframes explode {
        0% {
            opacity: 1;
            transform: scale(1);
        }

        100% {
            opacity: 0;
            transform: translate(var(--x), var(--y)) scale(0.5);
        }
    }

}
